{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "opencrm/navbar.html" %}

    {% include "opencrm/contact-search.html" %}
    <ul>
        {% for task in tasks %}
        <li>
            <p>Name: {% if task.contact %}<a href="{{ task.contact.get_absolute_url }}">{{ task.contact }}</a>{% else %}No name{% endif %} - Task: {% if task %}<a href="{{ task.get_absolute_url }}">{{ task }}</a>{% else %}-{% endif %} -
                Due: {{task.due_date}}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>