{% extends "opencrm/base.html" %}
{% block content %}

<h1>Company details</h1>
<div id="company-details">
    <h2>{{company}} </h2>
    <ul>
        {% for contact in company.contacts.all %}
        <li><a href="{{ contact.get_absolute_url }}">{{ contact.fullname }}</a> - tags: {{ contact.tag_list }}</li>
        {% endfor %}
    </ul>
</div>
<hr>
<h2>Tasks</h2>
<ul>
    {% for task in company.open_tasks %}
    <p><a href="{{task.contact.get_absolute_url}}">{{task.contact}}</a>: <a href="{{task.get_absolute_url}}">{{task}}</a></p>
    {% endfor %}
</ul>

{% endblock content %}