<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Contact details</h1>
    <div id="contact-details">
        <h2>{{contact}}</h2>

        <p>firstname: {{contact.firstname}}</p>
        <p>lastname: {{contact.lastname}}</p>
        <p>email: {{contact.email}}</p>
        <p>phonenumber: {{contact.phonenumber}}</p>
        <p>company: {{contact.company}}</p>
        <p>last_contacted: {{contact.last_contacted}}</p>
        <p>updated: {{contact.updated_at}}</p>
        <p>created: {{contact.created_at}}</p>
        <p>tags: {{contact.tag_list}}</p>

    </div>

</body>

</html>