<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include "opencrm/navbar.html" %}
    <h1>Contact details</h1>
    <div id="contact-details">
        <h2>{{contact}}</h2>

        <p>Firstname: {{ contact.firstname|default:"-" }}</p>
        <p>Lastname: {{ contact.lastname|default:"-" }}</p>
        <p>Email: {% if contact.email %}<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% else %}-{% endif %}</p>
        <p>Phonenumber: {{ contact.phonenumber|default:"-" }}</p>
        <p>Company: {% if contact.company %}<a href="{{ contact.company.get_absolute_url }}">{{ contact.company }}</a>{% else %}-{% endif %}</p>
        <p>Last contacted: {{ contact.last_contacted|default:"-" }}</p>
        <p>Updated: {{ contact.updated_at|default:"-" }}</p>
        <p>Created: {{ contact.created_at|default:"-" }}</p>
        <p>Tags: {{ contact.tag_list|default:"-" }}</p>

    </div>

</body>

</html>